<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
<div layout:fragment="content">
    <div class="sect">
        <div class="inner">
            <h3 class="title">마이페이지</h3>
            <div class="inner_box">
                <div class="menu_box">
                    <div class="menu" id="menu1">내 문의 내역</div>
                    <div class="menu" id="menu2">내 정보 관리</div>
                    <div class="menu" id="menu3">발신번호 관리</div>
                    <div class="menu" id="menu4">기업회원 전환</div>
                </div>
                <div class="menu_content"></div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="popupContents">
    <div class="dimmed_black" id="addInquiry">
        <div class="popupBox">
            <h3 class="popup_title txt-l">1:1문의</h3>
            <form name="inquiryForm" id="inquiryForm" action="/mypage/inquiry/insert" method="POST">
                <table class="table1 type">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 70%"/>
                        <col style="width: 10%"/>
                    </colgroup>
                    <tr>
                        <th>이름</th>
                        <td colspan="3">
                            <span th:text="${session.sessionVO.user.userName}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td colspan="2">
                            <input value="" type="text" name="title" id="title" class="input_txt inp_l.w100 type1" placeholder="제목을 입력하세요"/>
                        </td>
                        <td>
                            <select name="inquiryType" id="inquiryType">
                                <option value="">분류선택</option>
                                <option value="B0601">가입/해지</option>
                                <option value="B0602">요금/결제</option>
                                <option value="B0603">메시지전송</option>
                                <option value="B0604">메시지수신</option>
                                <option value="B0605">주소록</option>
                                <option value="B0606">기타문의</option>
                            </select>
                        </td>
                    <tr>
                    <tr>
                        <th>내용</th>
                        <td colspan="3">
                            <textarea content="" name="content" id="content" class="input_txt inp_l.w100 type1" rows="5" cols="50" style="height: 300px;padding-top: 10px"
                                      placeholder="내용을 입력해주세요"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td colspan="3">
                            <input class="input_txt inp_l.w100 type1" type="email" id ="userEmail" name="userEmail" th:value="${session.sessionVO.user.userEmail}"></input>
                        </td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td colspan="3">
                            <input class="input_txt inp_l.w100 type1" type="number" id ="userMobile" name="userMobile" th:value="${session.sessionVO.user.userMobile}"></input>
                        </td>
                    </tr>
                </table>
            </form>
            <button type="button" id="btnInquirySave" class="my_button" style="margin-top: 10px">저장</button>
            <button type="button" id="btnInquiryUpdate" class="my_button" style="margin-top: 10px">수정</button>
            <div class="popup_close"><a href="javascript:void(0);" class="close_button"></a></div>
        </div>
    </div>
    <div class="dimmed_black" id="detailInquiry">
        <div class="popupBox">
            <h3 class="popup_title txt-l">1:1문의</h3>
            <table class="table1 type">
                <colgroup>
                    <col style="width: 10%"/>
                    <col style="width: 60%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                </colgroup>
                <tr>
                    <th>제목</th>
                    <td colspan="2">
                        <span id="detailTitle"></span>
                    </td>
                    <td colspan="3">
                        <span id="detailInquiryType"></span>
                    </td>
                <tr>
                <tr>
                    <th>내용</th>
                    <td colspan="5">
                        <span id="detailContent"></span>
                    </td>
                </tr>
                <tr>
                    <th>답변</th>
                    <td colspan="5">
                        <span id="detailReplyContent"></span>
                    </td>
                </tr>
                <tr>
                    <th>등록일시</th>
                    <td colspan="5">
                        <span id="detailReplyDate"></span>
                    </td>
                </tr>
            </table>
            <button type="button" id="btnInquiryConfirm" class="my_button" style="margin-top: 10px;">확인</button>
            <div class="popup_close"><a href="javascript:void(0);" class="close_button"></a></div>
        </div>
    </div>
</div>
<script id="includeScript" layout:fragment="includeScript" th:inline="javascript">
    $(document).ready(function () {
        mySwitch([[${default}]]);
        $('.menu').click(function () {
            mySwitch($(this).attr('id'));
        });
    });

    function mySwitch(id) {
        $('.menu').removeClass('menu_clicked');
        $('#'+id).addClass('menu_clicked');

        switch (id) {
            case 'menu1':
                replaceHtml('/mypage/my_inquiry');
                break;
            case 'menu2':
                replaceHtml('/mypage/myInfo');
                break;
            case 'menu3':
                replaceHtml('/mypage/sendNumberManage');
                break;
            case 'menu4':
                replaceHtml('/mypage/content4');
                break;
        }
    }

    function replaceHtml(url) {
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('ajax', true);
            },
            success: function (data, response, jqXHR) {
                $('.menu_content').empty().append(data);
            },
            error: function (e) {
                if(e.status === 403) {
                    alert('')
                    location.href='/sign/signin?';
                }
            }
        });
    }

</script>
</body>
</html>