.menu {
    flex: 1;
    padding: 15px 0;
    color: #333;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid #ddd;
    transition: color .4s ease;
    cursor: pointer;
}
.menu_clicked {
    color: #322cbd;
    border-bottom: 2px solid #322cbd;
}
.menu:hover {
    color: #322cbd;
}
.inner_box {
    min-height: 500px;
    text-align: center;
}
.menu_box {
    display: flex;
}
.menu_content {
    margin-top: 50px;
}
.my_inquiry {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.my_button {
    font-size: 16px;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #322cbd;
    border-radius: 40px;
}
.panel_left {
    float: left;
    margin: 10px 0 10px 10px;
}
.panel_right {
    margin-bottom: 10px;
    float: right;
}
.input_txt {
    padding: 0 0 0 10px;
    width: 100%;
    height: 38px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.inquiryTitle:hover {
    transition: color .4s ease;
    color: #322cbd;
}
.bottom_btn_wrap {
    padding: 30px 0 100px;
}
.inner_box .menu_content {margin-top:50px;}
.inner_box .menu_content li{display: none;}
.inner_box .menu_content .cont_not {padding:30px; text-align:center;}
.inner_box .menu_content div.on{display: inherit;}
.slide_layer {display: none;}
.slide_layer .inputArea {width:450px;} /* 220116 추가 */
.slide_layer .inputArea input + input {margin-top:10px;}  /* 220116 추가 */

/* 마이페이지 */
.on .message {font-size: 18px; text-align: center; padding-bottom: 20px;}
.on .message strong {display: block; font-size: 20px; font-weight: 500; padding-bottom: 10px;}

.h2000 {height: 2000px;}
.h1000 {height: 1000px;}
.h50per {height: 50% !important;}
.h80per {height: 80% !important;}
.h100per {height: 100% !important;}
.w20per {width: 20% !important;}
.w100per {width: 100% !important;}
.w100px {width: 100px;}

.red {color:#d90000;}

.xl_button {
    font-size: 22px;
    padding: 20px 72px;
    display: inline-block;
}
.m_button {
    font-size: 20px;
    padding: 15px 40px;
}
.inp_m.type1 {
    width: 254px;
}
.input_txt.inp_m {
    height: 40px;
}
.inp_m.type2 {
    width: 100px;
}
.input_txt.inp_m {
    height: 40px;
}
p.message {
    padding-bottom: 20px;
}
#topName {
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
.sub_page_stit {
    font-size: 18px;
    font-weight: 500;
    color: #111;
    margin-bottom: 20px;
    float: left;
}
.ml5 {
    margin-left: 5px;
}
.ml15 {
    margin-left: 15px;
}
a#btnUserWithdrawal {
    font-size: 16px;
    color: #555;
    border-bottom: 1px solid #555;
}
.mt40 {
    margin-top: 40px;
}
.s_text {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    margin-top: 10px;
}
.mt-10 {
    margin-top: -10px;
}
.mb10 {
    margin-bottom: 10px;
}
.fl_right {
    float: right;
}
.paging_wrap {
    display: inline-flex;
    align-items: center;
}
.mt20 {
    margin-top: 20px;
}
.mb70 {
    margin-bottom: 70px;
}
.gray_button {
    background-color: #e2e2e2;
    color: #555;
}
.radio input:checked + label::after, .checkbox input:checked + label::after {
    background-image: url(../images/content/icon_rdo_chk.png);
}
.radio input + label::after, .checkbox input + label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: url(../images/content/icon_rdo.png) no-repeat 0 0;
    background-size: 100% auto;
}
.textarea {
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #ccc;
    resize: none;
    box-sizing: border-box;
    background-color: #fff;
}
input[type="checkbox"].checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/content/icon_chk.png) no-repeat 0 0;
}
input[type="checkbox"].checkbox {
    position: relative;
    border: none;
    width: 20px;
    height: 20px;
}
input[type="checkbox"].checkbox:checked:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/content/icon_chk_chk.png) no-repeat 0 0;
}
.radio input, .checkbox input {
    display: none;
}
.radio input + label, .checkbox input + label {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    height: 24px;
    line-height: 1.5;
    cursor: pointer;
    font-weight: 300;
}
.input_txt:focus, .select:focus, .textarea:focus {border:1px solid #332dbd; outline:none}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;}
hr{height:1px;background-color:#ddd;border:0;}
.input_txt.inp_l {
    height: 50px;
}
.tb_txt_S {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
}